.about{
  margin: 0, auto;
}
h1{
  font-style: bold; font-size: 100px;
  color: rgb(110, 20, 106)

}
@keyframes reveal
{
  from {opacity: 0;}
  to {opacity: 1;}
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


#project-wrapper {
  position: relative;
  height: 100%;
  margin-top: 50px;
  overflow-y: scroll;
}

.wrapper {
  padding-top: 50px;
}

.banner {
  animation-name: reveal;
  animation-duration: 4s;
  height: 500px;
  #opacity: 0.5;
  background: url(banner.jpg) center center;
  background-size: cover;
  overflow: hidden; }
  .banner .bg {
    max-width: 900px; }
  .banner .over {
    position: absolute;
    top: 25%;
    text-align: center !important;
    width: 100%; }


/* .square_image {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden; }
  .square_image.s2 {
    border-color: #ee8484; }
  .square_image img {
    max-width: 300%; } */
