.about{

}
.body{
  font-family: 'Questrial', sans-serif;
  width: 80%;
  margin: 0 auto;

}
h1{
  font-family: 'Questrial', sans-serif;
  font-size: 70px;
  color: rgb(110, 20, 106);
}
h2, h3{
  font-family: 'Questrial', sans-serif;
}

.maintitle{
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
  color: rgb(110, 20, 106);
  margin-top: 80px;
}



.subtitle{
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  color: rgb(18, 1, 22);
  font-weight: bold;
}
p{
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
}
@keyframes reveal
{
  from {opacity: 0;}
  to {opacity: 1;}
}
.photos{
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}
.row1, .row2{
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: center;
  width: 100%;
}
.top-buffer { margin-top:20px; }
.top-buffer-2 { margin-top:100px; }
.box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img{
  display: block;
  width: 350px;
}
.box1, .box2, .box3, .box4, .box5, .box6 {
    position: relative;
    padding: 10px;
}
.virtual img{
  width: 500px;
  padding: 0px 30px;
}
.profile{
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}
.content1, .content2{
  padding: auto auto;
  margin: auto auto;
}

#project-wrapper {
  position: relative;
  height: 100%;
  margin-top: 50px;
  overflow-y: scroll;
}

.wrapper {
  padding-top: 50px;
}

.banner {
  animation-name: reveal;
  animation-duration: 4s;
  height: 500px;
  #opacity: 0.5;
  background: url(banner.jpg) center center;
  background-size: cover;
  overflow: hidden; }
  .banner .bg {
    max-width: 900px; }
  .banner .over {
    position: absolute;
    top: 25%;
    text-align: center !important;
    width: 100%; }


/* .square_image {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden; }
  .square_image.s2 {
    border-color: #ee8484; }
  .square_image img {
    max-width: 300%; } */
